*{
    margin: 0;
    font-family: Arial;
}

html, body {
    height:100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}


/*typography*/
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
h5{
    text-align: center;
    margin-top: 0px;
    font-size: 9px;
    font-weight: 1;
    color: #3a3a3a;
}
p{
    color:black;
}

/*Containers*/





/*Elements*/
.appButton{
    border:none;
    background-color: rgba(240, 248, 255, 0);
    height:190px;
    width:200px;
    border-radius: 50px;
    cursor: pointer;
}
.appPage img {
    height:100%;
    width:100%;
    border-radius: 20px;
    box-shadow:0px 3px 4px -3px #000000;
}

.appPage img:hover{
    background-color: rgb(232, 232, 232);
}


/*Iphone Display*/
@media (max-width: 600px) {
.pfpDiv{
    display: flex;
    justify-content: center;
    border: solid 1px rgba(255, 0, 0, 0);
}

.pfpDiv img {
    height:100px;
    width:100px;
    border-radius: 100%;
}
.introDiv{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    border: solid 1px rgba(255, 0, 0, 0);
}
.descriptionDiv{
    display: flex;
    justify-content: center;
    border: solid 1px rgba(255, 0, 0, 0);
}
.descriptionDiv p{
    color:rgb(115, 115, 115);
    font-weight:bold
}
.bioDiv{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    border: solid 1px rgba(255, 0, 0, 0);
}
.bioDiv p{
    text-align: center;
    color:rgb(147, 147, 147);
    font-weight:light;
    font-size: 12px;
    width:85%;
}

.center{
    display: flex;
    justify-content: center; 
}
/*SKILLS*/
.skills{
    padding-top: 50px;
    padding-bottom:20px;
    border: solid 1px rgba(255, 0, 0, 0);
    justify-content: center;

}
.skills p{ /*'My Skills*/
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}
.skillsHolder a{
    color:rgb(93, 93, 93);
}
.skillsHolder{
    border: solid 1px rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    width:95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:1px 2px 12px -5px #00000072;
    border: 1px solid rgba(162, 162, 162, 0.781)
}
.skills img{
    height: 40px;
    width: 40px;
    -webkit-filter: drop-shadow(1px 1px 1px -1px #000000);
  filter: drop-shadow(1px 1px 2px #040404);
}

.cssDiv, .htmlDiv, .javaDiv, .cPlusPlusDiv, .pythonDiv{
    padding: 10px 15px 10px 15px;
    font-size: 8px;
    font-weight: lighter;
}

.skills{
    padding-top: 50px;
    padding-bottom:20px;
    border: solid 1px rgba(0, 229, 255, 0);
    justify-content: center;

}
.apps p{ 
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}
.appsHolder a{
    color:rgb(93, 93, 93);
}
.appsHolder{
    border: solid 1px rgba(0, 123, 255, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    width:95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:1px 2px 12px -5px #00000072; 
    border: 1px solid rgba(162, 162, 162, 0.781)
}
.apps img{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    box-shadow:1px 1px 5px -1px #000000; 
}
.apps a{
    margin-top: 2px;
    font-size: 7px;
}
.calculatorDiv,.rpcDiv,.urTaxDiv{
    padding: 10px 17px 10px 17px;
    font-size: 8px;
    font-weight: lighter;
}
.educationHolder{
    border: solid 1px rgba(0, 123, 255, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    width:95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:1px 2px 12px -5px #00000072; 
    border: 1px solid rgba(162, 162, 162, 0.781)
}
.unlvDiv{
    padding-top:15px;
}
.education img{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    box-shadow:1px 1px 5px -1px #000000; 
}
.education p{
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}
.education a{
    font-size: 10px;
}
.education h4{
    font-size: 12px;
}
.unlvspace{
    margin-top: -5px;
}
}